
/*.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
*/


/*entire App start here*/
.App {
  text-align: center;
  margin: 0;
  padding: 0;
}

/*nav bar for all pages*/
.nav-bar {
  max-height: 200px;
  min-height: 80px;
  max-width: 100%;
  min-width: 900px;
  display: block;
  background-color: #36bbbb;
  background: linear-gradient(#79bb36, #36bbbb);
}

.logo {
  padding-left: 2%;
  float: left;
  display: inline-block;
  height: 80px;
  }

.logo-link {
  text-decoration: none;
  color: white;
}

.home-link {
  float: right;
  margin-right: 5%;
  padding-top: 31px;
  text-decoration: none;
  color: #7936bb;
  font-family: Gadget;
}

.library-link {
  float: right;
  padding-right: 10px;
  padding-top: 31px;
  text-decoration: none;
  color: #7936bb;
  font-family: Gadget;
}



/*begin landing page here*/

/*bottom bar*/

/*landing*/
.landing {
  background-color: #bb7936;
  background: linear-gradient(#36bbbb, #4fa1a1, #36bbbb);
  max-width: 100%;
  min-width: 900px;
  height: auto;
  position: relative;
}

/*landing image*/
.landing-image {
  max-width: 100%;
  min-width: 900px;
  height: auto;
  min-height: 600px;
  opacity: .5;
  position: relative;
}

.hero-title {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #7936bb;
  font-size: 9vmax;
  white-space: nowrap;
  font-family: Gadget;
  text-shadow: 3px 3px black;
}

.selling-points {
  display: flex;
  min-width: 900px;
  color: #7936bb;
}

.point1, .point2, .point3 {
  display: inline-block;
  width: 33.33%;
  max-height: 400px;
  background-color: #36bbbb;
  background: linear-gradient(#36bbbb, #79bb36);
}

.point-title {
  font-family: "Courier New";
  font-size: 2vw;
  font-variant: small-caps;
}

.point-description {
  font-size: 1vw;
  font-family: Courier;
}



/*start library here*/

.library {
  background-color: #1f1e1e;
}


.library img {
  width: 20vw;
}

.library div {
  font-size: 1rem;
  font-weight: 300;
  text-decoration: none;
}

.library .album-title {
  font-size: 1.25rem;
}

.library .album-artist,
.library .album-song-count {
  font-size: 0.8rem;
  opacity: 0.7;
}

.album-link {
  position: relative;
  display: inline-block;
  margin: 2.5rem;
  padding: 0.1rem;
  text-align: center;
  top: 0;
  transition: top ease 0.2s;
}

.album-link:hover {
  top: -10px;
  transition: 0.2s;
}




