
/*.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
*/


/*entire App start here*/
.App {
  text-align: center;
  margin: 0;
  padding: 0;
  background: #1f1e1e;
}

/*nav bar for all pages*/
.nav-bar {
  max-height: 200px;
  min-height: 80px;
  max-width: 100%;
  min-width: 900px;
  display: block;
  background-color: #36bbbb;
  background: linear-gradient(#79bb36, #36bbbb);
}

.logo {
  padding-left: 2%;
  float: left;
  display: inline-block;
  height: 80px;
  }

.logo-link {
  text-decoration: none;
  color: white;
}

.home-link {
  float: right;
  margin-right: 5%;
  padding-top: 31px;
  text-decoration: none;
  color: #7936bb;
  font-family: Gadget;
}

.library-link {
  float: right;
  padding-right: 10px;
  padding-top: 31px;
  text-decoration: none;
  color: #7936bb;
  font-family: Gadget;
}



/*begin landing page here*/

/*bottom bar*/

/*landing*/
.landing {
  background-color: #bb7936;
  background: linear-gradient(#36bbbb, #4fa1a1, #36bbbb);
  max-width: 100%;
  min-width: 900px;
  height: auto;
  position: relative;
}

/*landing image*/
.landing-image {
  max-width: 100%;
  min-width: 900px;
  height: auto;
  min-height: 600px;
  opacity: .5;
  position: relative;
}

.hero-title {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #7936bb;
  font-size: 9vmax;
  white-space: nowrap;
  font-family: Gadget;
  text-shadow: 3px 3px black;
}

.selling-points {
  display: flex;
  min-width: 900px;
  color: #7936bb;
}

.point1, .point2, .point3 {
  display: inline-block;
  width: 33.33%;
  max-height: 400px;
  background-color: #36bbbb;
  background: linear-gradient(#36bbbb, #79bb36);
}

.point-title {
  font-family: "Courier New";
  font-size: 2.5vw;
  font-variant: small-caps;
}

.point-description {
  font-size: 1.25vw;
  font-family: Courier;
}



/*start library here*/


.library img {
  width: 20vw;
}

.library div {
  font-weight: 300;
  text-decoration: none;
}

.library .album-title {
  font-size: 2.2vw;
  text-decoration: none;
}

.library .album-artist,
.library .album-song-count {
  font-size: 1.4vw;
  opacity: 0.7;
}

.album-link {
  position: relative;
  display: inline-block;
  margin: 2.5rem;
  padding: 0.1rem;
  text-align: center;
  text-decoration: none;
  color: white;
  top: 0;
  transition: top ease 0.2s;
}

.album-link:hover {
  top: 10px;
  opacity: .7;
  transition: 0.2s;
}


/*album page start here*/


#song-list {
  color: white;
  width: 50%;
  float: left;
  padding-top: 6rem;
}

#song-list tr:hover {
  opacity: .7;
}

#song-list td {
  border-bottom: 1px solid white;
  height: 30px;
}

.album-details {
  color: white;
  display: block;
  float: left;
  width: 50%;
}

#album-cover-art {
  padding: .1rem;
  margin: 2.5rem;
  width: 30%;
  float: left;
}


/*player bar start here*/


.player-bar {
   position: absolute;
    z-index: 100; 
    bottom: 0; 
    left: 0;
    width: 100%;
    background-color: #392c2c;
    min-width: 900px;
}


#buttons, #time-control, #volume-control {
  display: inline-block;
  width: 33.3%;
  position: center;
  height: 30px;
  padding-top: 15px;
}

#buttons {

}

.current-time, .total-time {
  display: inline-block;
  padding: 3px;
}

.ion-md-volume-low, .ion-md-volume-high {
  display: inline-block;
  padding: 3px;
}











